@model Trail
<h1>@Model.Name</h1>
<hr>
<p>
    @Model.Description
</p>
<hr>
<h3>Length</h3>
<p>@Model.Length</p>
<h3>Elevation Gain</h3>
<p>@Model.ElevationGain</p>
<h6>Latitude</h6>
<p>@Model.Latitude</p>
<h6>Longitude</h6>
<p>@Model.Longitude</p>